{% extends 'core/base.html' %}

{% block title %}Add Student{% endblock title %}

{% block main_content %}
<section class="container">
     <div class="row justify-content-around mt-3">
        
        <h3>CRUD Operation in Python Django</h3>
        <div class="col-sm-4">
               <!-- form yahan hoga -->
               <form action="" method="POST" class = "bg-white p-3 rounded shadow">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type = "submit" value = "submit" class = "btn btn-primary">
               </form>
          </div>
     </div>
</section>
{% endblock main_content %}